body {
	background-image: url('images/4238051-background.jpg');
	margin: 0 auto;
	width: 100em;
	color: #00ff00;
	
	}

#centar{
	width: 60em;
	margin-left: 20em;
	margin-right: 20em;
	overflow: hidden;
	background-color: rgba(255,255,255,0.4);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
}

h1{
	text-align: center;
}

#natrag{
	font-size: 2em;
}

a:link {
	color: #00ff00;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}